<div class= "container">
  <%= form_tag search_results_path, controller: 'wikies',
  action: 'search_results', method: 'get' do %>
            <%= text_field_tag :search_keywords %>
            <%= submit_tag "Search" %>
  <% end %>
</div>

