<div class="container">
<h1>Editing Wiky</h1>
<%= render 'form' %>
<%= render :partial => "collaborations/form", :locals => {:@collaborations => @collaborations, :@wiky => @wiky} %><br>>
<%= link_to 'Show', @wiky %> 
<%= link_to 'Back', wikies_path %><br>
</div>